
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  margin-top: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin-bottom: 10px;
  padding: 12px;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333333;
}

input[type="text"] {
  width: calc(100% - 80px);
  padding: 12px;
  border: none;
  border-radius: 20px; /* Bordes redondeados */
  background-color: #f0f0f0; 
  outline: none;
  font-size: 16px;
  color: #333333; /* Color del texto */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); 
}

input[type="text"]::placeholder {
  color: #999999;
}

button {
  color: white;
  background-color: #4CAF50; /* Verde */
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; 
}

.take {
  border: 1px solid #dddddd;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #f9f9f9;
  color: #333333;
  text-align: center;
  border-radius: 8px;
}
